body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
}

.expenses-chart {
  margin-bottom: 1rem;
}

.expenses-chart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Balance Card */

.balance-card {
  background-color: hsl(10, 79%, 65%);
  color: hsl(33, 100%, 98%);
  border-radius: 0.625rem;
  max-width: 33.875rem;
  width: 100%;
  margin-bottom: 2rem;
}

.balance-card__container {
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 1.25rem;
}

.balance-card__heading {
  font-weight: normal;
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0.313rem;
}

.balance-card__price {
  font-size: 1.5rem;
  font-weight: bold;
}

.balance-card__logo-container {
  display: flex;
  align-items: center;
}

.balance-card__logo {
  width: 3.875rem;
  height: 2.5rem;
}

/* Spending Card */

.spending-card {
  background-color: hsl(33, 100%, 98%);
  color: hsl(28, 10%, 53%);
  border-radius: 0.625rem;
  max-width: 100%;
  width: 33.875rem;
}

.spending-card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.375rem 1.25rem;
}

.spending-card__chart {
  border-bottom: 2px solid hsl(27, 66%, 92%);
  margin-bottom: 1.5rem;
}

#spending-chart tbody {
  height: 9.375rem;
}

#spending-chart.data-spacing-6 tbody tr {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

#spending-chart td {
  background-color: hsl(10, 79%, 65%);
  border-radius: 0.188rem;
}

#spending-chart h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: hsl(25, 47%, 15%);
}

#spending-chart caption {
  margin-bottom: 3.125rem;
  height: unset;
  text-align: left;
}

#spending-chart__body tr {
  font-size: 0.875rem;
}

#spending-chart__body th {
  font-weight: normal;
}

#spending-chart {
  margin-bottom: 1.5rem;
}

.spending-card__title h2 {
  font-size: 1.5625rem;
}

.spending-card__body {
  display: flex;
  justify-content: space-between;
  gap: 2vh;
}

.spending-card__month-price,
.spending-card__rate-percentage {
  color: hsl(25, 47%, 15%);
  font-weight: bold;
}

#spending-chart td.spending-card__current-day {
  background-color: hsl(186, 34%, 60%);
}

#spending-chart td.spending-card__current-day:hover {
  background-color: 	hsl(187, 49%, 80%);
}

.spending-card__total {
  display: flex;
  justify-content: space-between;
}

.spending-card__month,
.spending-card__rate {
  display: flex;
  flex-direction: column;
}

.spending-card__month {
  margin-right: 1.25rem;
}

.spending-card__month-label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.spending-card__month-price {
  font-size: 1.75rem;
}

.spending-card__rate {
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 1.25rem;
}

.spending-card__rate-percentage {
  font-size: 0.875rem;
}

.spending-card__rate-label {
  text-align: right;
  font-size: 0.875rem;
}

#spending-chart td:hover {
  background-color: hsl(11, 87%, 76%);
}

#spending-chart .tooltip {
  background-color: hsl(25, 47%, 15%);
  bottom: 100%;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}

#spending-chart .tooltip::after {
  content: none;
}

@media (min-width: 48.0625rem) {
  #spending-chart.data-spacing-10 tbody tr {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  #spending-chart caption {
    margin-bottom: 4.1875rem;
  }

  #spending-chart h2 {
    font-size: 2rem;
  }

  .spending-card__month-price {
    font-size: 2.25rem;
  }
}

/* Attribution */

.attribution {
  color: hsl(25, 47%, 15%);
  text-align: center;
}

.attribution a {
  color: hsl(10, 79%, 65%);
}
