* {
  margin: 0;
  font-size: 18px;
}

body {
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
  margin: 3.7778rem 0.8889rem;
}

.expense-chart__container {
  margin-bottom: 2.75rem;
}

/* Balance Card */

.expense-chart__balance-card {
  background-color: hsl(10, 79%, 65%);
  color: hsl(33, 100%, 98%);
  padding: 1.2222rem 1.1111rem;
  margin-bottom: 1rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.balance-card__heading {
  font-weight: normal;
  font-size: 0.77778rem;
  margin-bottom: 0.2778rem;
}

.balance-card__price {
  font-size: 1.333333rem;
  font-weight: bold;
}

.balance-card__logo-container {
  display: flex;
  align-items: center;
}

.balance-card__logo {
  width: 3.44445rem;
  height: 2.2223rem;
}

/* Spending Card */

.expense-chart__spending-card {
  background-color: hsl(33, 100%, 98%);
  color: hsl(28, 10%, 53%);
  padding: 1.2222rem 1.1111rem;
  border-radius: 0.625rem;
}

.spending-card__chart {
  border-bottom: 2px solid hsl(27, 66%, 92%);
  margin-bottom: 1.5rem;
}

.chart__table {
  width: 100%;
}

.chart__table-body {
  display: flex;
  justify-content: space-between;
}

.chart__title,
.month__price,
.rate__percentage {
  color: hsl(25, 47%, 15%);
  font-weight: bold;
}

.chart__title {
  display: block;
  text-align: left;
  font-size: 1.333rem;
  margin-bottom: 1.389rem;
}

.chart__day {
  display: flex;
  width: 1.834rem;
  flex-direction: column-reverse;
}

.day__heading {
  font-weight: normal;
  font-size: 0.77778rem;
  margin-top: 0.944rem;
  margin-bottom: 1.5rem;
}

.day__bar {
  background-color: hsl(10, 79%, 65%);
  height: 8.333rem;
  border-radius: 0.167rem;
}

#wed-bar__bg-color {
  background-color: hsl(186, 34%, 60%);
}

.spending-card__total {
  display: flex;
  justify-content: space-between;
}

.total__month,
.total__rate {
  display: flex;
  flex-direction: column;
}

.total__month {
  margin-right: 1.111rem;
}

.month__label {
  font-size: 0.778rem;
}

.month__price {
  font-size: 1.556rem;
}

.total__rate {
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 1.111rem;
}

.rate__percentage {
  font-size: 0.778rem;
}

.rate__label {
  text-align: right;
  font-size: 0.778rem;
}

/* Attribution */

.attribution {
  color: hsl(25, 47%, 15%);
  text-align: center;
}

.attribution a {
  color: hsl(10, 79%, 65%);
}
